{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    {% include "header.html" %}
</head>

<body style="background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);">
    {% include "nav-bar.html" %}

    <div class="container mt-5">
        <div id="messages">
            {%if messages%}
            {%for m in messages%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            <div class="alert alert-danger align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="10" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    {{m}}
                </div>
            </div>
            {%endif%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
            <div class="alert alert-success  align-items-end " role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="10" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    {{m}}
                </div>
            </div>
            {%endif%}
            {%endfor%}
            {%endif%}
        </div>
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
                <h2 class="text-center mb-4 fw-bolder ">Cart</h2>
            </div>
            <div class="col-4">
                <h5 class="text-end mt-2">Total Items:{{cart.cart_item_quantity}} </h5>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table  table-bordered override-background">
                <thead class="bg-black">
                    <tr class="table-dark">
                        <th class="align-middle">Title</th>
                        <th class="align-middle">price</th>
                        <th class="align-middle">quantity</th>
                        <th class="align-middle">Total</th>
                        <th class="align-middle">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td class="align-middle"> {{d.product.title}} </td>
                        <td class="align-middle"> {{d.product.price}} </td>
                        <td class="d-flex justify-content-center "> 
                        <form method="post">
                            {% csrf_token %}
                            <div class="input-group align-middle">
                                <button type="submit" class="btn btn-outline-secondary" name="mines" value="{{d.id}}">-</button>
                                <input type="number" class="form-control text-center" id="quantity" name="quantity" value="{{ d.quantity }}" readonly>
                                <button type="submit" class="btn btn-outline-secondary" name="plus" value="{{d.id}}">+</button>
                            </div>
                        </form>
                        </td>
                        <td class="align-middle  "> {{d.total}} </td>
                        <td class="align-middle d-flex justify-content-center ">
                        <td class="align-middle d-flex justify-content-evenly">
                                <a href="{% url 'remove-item' d.id %}"
                                class="btn "><i class="fa-solid fa-trash"></i></a>
                        </td>
        
        </tr>
        {% endfor %}
        </tbody>
        </table>

    </div>
    <div class="row mt-4">
        <div class="col-4">

        </div>
        <div class="col-4 d-flex justify-content-center">
            <form action="{% url 'order-create' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Place Order</button>
            </form>
        </div>
        <div class="col-4">
            <h5 class="text-end mt-2">Sub total:{{cart.sub_totel}} </h5>
        </div>
    </div>
    </div>

</body>

</html>