<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmed</title>
    {% include "header.html" %}
</head>
<body>
    {% include "nav-bar.html" %}
    <div id="messages">
        {%if messages%}
            {%for m in messages%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            <div class="alert alert-danger align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="10" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    {{m}}
                </div>
            </div>
            {%endif%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
            <div class="alert alert-success  align-items-end " role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="10" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    {{m}}
                </div>
            </div>
            {%endif%}
            {%endfor%}
            {%endif%}
    </div>
    <div class="container">
        <div class="container m-3 mt-5">
            <h1>
                Thank you for your order! Your estimated delivery date is between 3-5 business days. We will notify you once your order has shipped.
            </h1>
            <div class="d-flex justify-content-center mt-5"><h3><a href="{% url 'user-home' %}" class="btn btn-primary">Return Home</a></h3></div>
        </div>
    </div>
</body>
</html>