{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    {% include "header.html" %}
</head>
<body>
    {% include "nav-bar.html" %}
    <div class="container mt-3">
    <div id="messages">
        {%if messages%}
            {%for m in messages%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            <div class="alert alert-danger align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="10" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    {{m}}
                </div>
            </div>
            {%endif%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
            <div class="alert alert-success  align-items-end " role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="10" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    {{m}}
                </div>
            </div>
            {%endif%}
            {%endfor%}
            {%endif%}
    </div>
        <div class="container w-100 ">
            <h1 class="text-center fw-bolder ">Update Product</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row w-100 m-auto border p-4 shadow">
                    <div class="form-group col-6 mt-3">
                        <label for="title">Title</label>
                        <input type="text" class="form-control mt-3" id="title" name="title" value="{{ data.title.value|default_if_none:'' }}" placeholder="Enter your title here">
                    </div>
                    <div class="form-group col-6 mt-3">
                        <label for="picture">Image</label>
                        <input type="file" class="form-control mt-3" id="picture" name="picture">
                        {% if data.picture.value %}
                            <img src="{{ data.picture.value.url }}" alt="Current Image" class="mt-3" style="max-width: 100px;">
                        {% endif %}
                    </div>
                    <div class="col-6 mt-3 w-50">
                        <div class="row w-100">
                            <div class="form-group col-3 w-50">
                                <label for="price">Price</label>
                                <input type="number" class="form-control mt-3 w-100" id="price" name="price" value="{{ data.price.value|default_if_none:'' }}" placeholder="Enter your price here">
                            </div>
                            <div class="form-group col-3 w-50">
                                <label for="stock">Stock</label>
                                <input type="number" class="form-control mt-3" id="stock" name="stock" value="{{ data.stock.value|default_if_none:'' }}" placeholder="Enter your stock here">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6 mt-3">
                        <label for="category" class="mt-3">Category:</label>
                        <select id="category" class="form-control" name="category">
                            {% for value, label in data.category.field.choices %}
                                <option value="{{ value }}" {% if value == data.category.value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-12 mt-3">
                        <label for="description" class="mt-3">About:</label>
                        <textarea name="description" id="description" cols="20" rows="5" class="form-control mt-3">{{ data.description.value|default_if_none:'' }}</textarea>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
