{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    {% include "header.html" %}
</head>

<body>
    {% include "nav-bar.html" %}

    <div class="container mt-5">
        <div id="messages">
            {%if messages%}
            {%for m in messages%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            <div class="alert alert-danger align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="10" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    {{m}}
                </div>
            </div>
            {%endif%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
            <div class="alert alert-success  align-items-end " role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="10" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    {{m}}
                </div>
            </div>
            {%endif%}
            {%endfor%}
            {%endif%}
        </div>
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
                {% if request.user.is_superuser %}
                <h2 class="text-center mb-4 fw-bolder ">All Complaints</h2>
                {% else %}
                <h2 class="text-center mb-4 fw-bolder ">My Complaints</h2>
                {% endif %}
            </div>
            <div class="col-4 d-flex justify-content-end">
                {% if request.user.is_superuser %}
                {% else %}
                <a href="{% url 'create-complaint' %}" class="btn btn-primary  mt-2">Create</a>
                {%endif%}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table  table-bordered">
                <thead class="bg-black">
                    <tr class="table-dark">
                        <th class="align-middle">Subject</th>
                        <th class="align-middle">Description</th>
                        {% if request.user.is_superuser %}
                        <th class="align-middle">User</th>
                        {% else %}
                        <th class="align-middle">Action</th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td class="align-middle"> {{d.text}} </td>
                        <td class="align-middle"> {{d.description}} </td>
                        {% if request.user.is_superuser %}
                        <td class="d-flex justify-content-center "> {{d.user.username}} </td>
                        {% else %}
                        <td class="align-middle">
                                <a href="{% url 'delete-complaint' d.id %}"
                                class="btn "><i class="fa-solid fa-trash"></i></a>
                        </td>
                        {%endif%}
        
        </tr>
        {% endfor %}
        </tbody>
        </table>

    </div>
    
    </div>

</body>

</html>